{{$cmd := .}}{{$rsp := findResponse .}}{{.Desc.Comment .Name.Fmt}}type {{.Name.Fmt}} struct { {{range .PayloadAttr}}{{if .Name}}
    {{.Desc.Comment .ArgNameFmt}}{{.ArgNameFmt}} {{.Name.Fmt}}{{end}}{{end}}
}

type {{.Name.Fmt}}Handler interface {
    Handle{{.Name.Fmt}}(frame Frame, cmd *{{.Name.Fmt}}) {{if $rsp}}(*{{$rsp.Name.Fmt}}, error){{else}}error{{end}}
}

// {{.Name.Fmt}}Command is the Command ID of {{.Name.Fmt}}
const {{.Name.Fmt}}Command CommandID = {{.ID.Hex4}}

// Values returns all values of {{.Name.Fmt}}
func (v *{{.Name.Fmt}}) Values() []zcl.Val {
    return []zcl.Val{ {{range .PayloadAttr}}{{if .Name}}
        &v.{{.ArgNameFmt}},{{end}}{{end}}
    }
}

// Arguments returns all values of {{.Name.Fmt}}
func (v *{{.Name.Fmt}}) Arguments() []zcl.ArgDesc {
    return []zcl.ArgDesc{ {{range .PayloadAttr}}{{if .Name}}
        {Name: "{{.ArgNameFmt}}", Argument: &v.{{.ArgNameFmt}} },{{end}}{{end}}
    }
}


// Name of the command
func ({{.Name.Fmt}}) Name() string { return {{strEsc .Name}} }

// Description of the command
func ({{.Name.Fmt}}) Description() string { return {{strEsc .Desc}} }

// ID of the command
func ({{.Name.Fmt}}) ID() CommandID { return {{.Name.Fmt}}Command }

// Required
func ({{.Name.Fmt}}) Required() bool { return {{if .Required.IsTrue}}true{{else}}false{{end}} }

// Cluster ID of the command
func ({{.Name.Fmt}}) Cluster() zcl.ClusterID { return {{clusterID}} }

{{ if direction . }}
// Direction of the command
func ({{.Name.Fmt}}) Direction() zcl.Direction { return zcl.{{direction .}} }
{{ end }}

// MnfCode returns the manufacturer code (if any) of the command
func ({{.Name.Fmt}}) MnfCode() uint16 { return {{mfc.Uint}} }

// MarshalJSON is a helper that returns the command as an uint wrapped in a byte-array
// func ({{.Name.Fmt}}) MarshalJSON() ([]byte, error) { return []byte("{{.ID.Uint}}"), nil }

func (v *{{.Name.Fmt}}) Handle(frame Frame, handler interface{}) (rsp {{if zdo}}zcl.ZdoCommand{{else}}zcl.General{{end}}, found bool, err error) {
    var h {{.Name.Fmt}}Handler
    if h, found = handler.({{.Name.Fmt}}Handler); found {
        {{if $rsp}}rsp, {{end}}err = h.Handle{{.Name.Fmt}}(frame, v)
    } {{if $rsp}}{{if zdo}}
    if rsp == nil {
        rsp = &{{$rsp.Name.Fmt}}{Status: 0x84}
    }
    {{end}}{{end}}
    return
}

// MarshalZcl returns the wire format representation of {{.Name.Fmt}}
func (v {{.Name.Fmt}}) MarshalZcl() ([]byte, error) { {{if .PayloadAttr}}
    var data []byte
    var tmp []byte
    tmp2 := uint32(0)
    _ = tmp2
    var err error
    {{range .PayloadAttr}}
        {{if .Cond}}{{condDesc .ArgNameFmt .Cond}}if {{joinCond $cmd.PayloadAttr .Cond}} { {{else}} { {{end}}{{if .Marshal}}
        {{.Marshal}}{{else}}
        if tmp, err = v.{{.ArgNameFmt}}.MarshalZcl(); err != nil {
        return nil, err
        }{{end}}
        data = append(data, tmp...)
    } {{end}}
    return data, nil {{ else }}
    return nil, nil {{ end }}
}

// UnmarshalZcl parses the wire format representation into the {{.Name.Fmt}} struct
func (v *{{.Name.Fmt}}) UnmarshalZcl(b []byte) ([]byte, error) { {{if .PayloadAttr}}
    var err error
    tmp2 := uint32(0)
    _ = tmp2
    {{range .PayloadAttr}}
        {{if .Cond}}{{condDesc .ArgNameFmt .Cond}}if {{joinCond $cmd.PayloadAttr .Cond}} { {{end}}{{if .Unmarshal}}
        {{.Unmarshal}}{{else}}if b, err = {{if .Name}}(&v.{{.ArgNameFmt}}){{else}}new(zcl.{{.Type.Type}}){{end}}.UnmarshalZcl(b); err != nil {
        return b, err
        }{{end}}
        {{if .Cond}} } {{end}}
    {{end}}
{{ end }}return b, nil
}

// String returns a log-friendly string representation of the struct
func (v {{.Name.Fmt}}) String() string {
    return zcl.Sprintf(
        "{{.Name.Fmt}}{" + zcl.StrJoin([]string{ {{range .PayloadAttr}}{{if .Name}}
            "{{.ArgNameFmt}}(%v)",{{end}}{{end}}
        }, " ")+"}", {{range .PayloadAttr}}{{if .Name}}
        v.{{.ArgNameFmt}},{{end}}{{end}}
    )
}
