package zdo

import "{{path}}"
type CommandID = zcl.ZdoCmdID
type Frame = zcl.ReceivedZdpFrame

var Commands = map[zcl.ZdoCmdID]func() zcl.ZdoCommand{ {{range .Commands}}
    {{.Name.Fmt}}Command: func() zcl.ZdoCommand { return new({{.Name.Fmt}}) },{{end}}
}

{{range .Types}}{{if .Name}}
{{renderType .}}
{{end}}{{end}}

{{range .Commands}}
{{renderCommand . false .ID.Hex4}}
{{end}}